$headerfontcolor: #fff;
$searchsectionfontcolor: #666;
$gradefontcolor: green;
$profilefontcolor: #222222;
$navbarfontcolor: #3fd28b;
$activenavbarfontcolor: #ffffff;
$containerfontcolor: #6e6e6e;
$badgefontcolor: white;
$notifybtnfontcolor: #1F7A54;
$font-family_1: sans-serif;
$font-family_2: "Quicksand";
$body-background-color: #eee;
$course-background-color: #8ddc97;
$header-background-color: #25313f;
$course-container-background-color: white;
$dropdown-background-color: #ffffff;
$con-read-background-color: #ffffee;
$footer-background-color: #e0e1e1;

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
body {
	display: flex;
	flex-direction: column;
	place-items: center;
	min-height: 100vh;
	background-color: $body-background-color;
	grid-template-rows: 100px auto 100px;
	font-family: $font-family_1;
	margin: 0;
}
header {
	position: absolute;
	display: flex;
	color: $headerfontcolor;
	padding: 10px;
	text-align: left;
	width: 100%;
	top: 0;
	.profile {
		border-radius: 50%;
	}
	.profile-badge {
		position: absolute;
		right: 2px;
		top: 2px;
		background: rgb(237, 237, 243);
		text-align: center;
		border: 1px solid #222222;
		border-radius: 50%;
		color: $profilefontcolor;
		padding: 2px 5px;
		font-size: 10px;
	}
	nav {
		font-size: 14px;
		color: $navbarfontcolor;
		margin: 0 10px;
		display: flex;
		height: 45px;
		align-items: center;
	}
	.nav-1 {
		margin-left: auto;
	}
	.nav-active {
		border-bottom: 3px solid #ffffff;
		color: $activenavbarfontcolor;
	}
	* {
		margin-right: 5px;
		margin-left: 5px;
	}
}
main {
	box-sizing: border-box;
	gap: 20px;
	width: 100%;
	display: grid;
	justify-items: center;
	padding: 80px 24px 24px 24px;
}
.course {
	justify-content: center;
	height: 64px;
	width: 95%;
	background-color: $course-background-color;
	border-radius: 2px;
	display: flex;
}
.courseCount {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	&:hover {
		border-bottom: 3px solid black;
	}
}
.classCount {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.count {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}
h1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}
.backgroundcolor {
	background: url(./quantum\ screen\ assets/header.png) repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	background-color: $header-background-color;
	background-blend-mode: overlay;
}
.disabled-components
{
	filter: grayscale(1);
    pointer-events: none;
    user-select: none;
}
.search-section {
	color: $searchsectionfontcolor;
	font-size: 12px;
	line-height: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 95%;
}
.total-search-result {
	justify-self: left;
}
.search-by-container {
	justify-self: end;
}
.courses {
	border-top: 1px solid grey;
	padding-top: 10px;
	width: 95%;
	gap: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.course-container {
	background-color: $course-container-background-color;
	padding: 24px;
	width: 95%;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
}
.course-options {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-evenly;
	justify-items: center;
	border-top: 2px solid grey;
	>img {
		margin-top: 5px;
	}
}
.sideText {
	color: $searchsectionfontcolor;
	font-size: 14px;
	line-height: 16px;
}
.course-core-subject {
	color: $searchsectionfontcolor;
	font-size: 14px;
	line-height: 16px;
}
.course-grade {
	color: $searchsectionfontcolor;
	font-size: 14px;
	line-height: 16px;
}
.grade-added {
	color: $gradefontcolor !important;
}
.select-by {
	width: 160px;
	font-family: $font-family_2;
	font-size: 16px;
	line-height: 20px;
	width: 160px;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: $body-background-color;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(./icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: right;
}
.course-teacher-options {
	width: 160px;
	font-family: $font-family_2;
	font-size: 16px;
	line-height: 20px;
	width: 160px;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(./icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: right;
}
.icon {
	margin-right: 0px;
	position: relative;
	height: inherit;
	display: flex;
	align-items: center;
	&:hover {
		.notify-badge {
			display: none;
		}
	}
}
.alerts {
	&:hover {
		.container {
			display: block;
			visibility: visible;
			opacity: 1;
			-webkit-animation: fade 300ms;
			animation: fade 300ms;
		}
	}
}
.container {
	position: absolute;
	left: -270px;
	top: 47px;
	margin: 0px;
	padding: 0px;
	width: 300px;
	max-height: 500px;
	color: $containerfontcolor;
	box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 13px 20px;
	font-size: 12px;
	background-color: $dropdown-background-color;
	display: none;
	opacity: 0;
	visibility: hidden;
	flex-direction: column;
}
.list {
	width: 100%;
	overflow-y: scroll;
	margin: 0px;
	height: 450px;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: lightgrey;
		border-radius: 10px;
	}
	* {
		margin: 0px;
	}
}
.notify-badge {
	position: absolute;
	right: 0px;
	top: 2px;
	background: rgba(123, 135, 243, 0.911);
	text-align: center;
	border-radius: 50%;
	color: $badgefontcolor;
	padding: 5px 8px;
	font-size: 8px;
}
.con-read {
	background-color: $con-read-background-color;
}
.con-card {
	padding: 14px 14px;
	margin: 0px 0px;
	border-bottom: grey solid 1px;
	.con-title {
		display: flex;
		justify-content: space-between;
	}
	.con-msg {
		font-size: 14px;
		color: $profilefontcolor;
		font-weight: 600;
	}
	.con-name {
		font-weight: 600;
		color: $profilefontcolor;
	}
	.con-card-footer {
		display: flex;
		align-items: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
	.con-time {
		display: inline;
		margin-left: auto;
	}
	p {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	img {
		margin: 0px;
	}
	span {
		margin: 0px;
	}
}
.notify-btn {
	display: flex;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
	color: $notifybtnfontcolor;
	border-radius: 0px 0px 2px 2px;
	bottom: 0px;
	margin-left: 0px;
	margin-top: auto;
	align-items: center;
	justify-content: center;
	padding: 15px 44px;
	width: 100%;
}
.announcement {
	&:hover {
		.container {
			display: block;
			visibility: visible;
			opacity: 1;
			-webkit-animation: fade 300ms;
			animation: fade 300ms;
		}
	}
}
.con-btns {
	display: flex;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
	border-radius: 0px 0px 2px 2px;
	bottom: 0px;
	margin-left: 0px;
	margin-top: auto;
	align-items: center;
	justify-content: space-between;
	padding: 15px 44px;
	width: 100%;
	color: $notifybtnfontcolor;
}
.menu {
	font-weight: 800;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	height: inherit;
	display: none;
	align-items: center;
	justify-content: center;
	&:hover {
		.dropdown-menu {
			display: block;
			opacity: 1;
			visibility: visible;
			-webkit-animation: fade 300ms;
			animation: fade 300ms;
		}
	}
}
.dropdown-menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity 600ms, visibility 600ms;
	left: -210px;
	top: 47px;
	margin: 0px;
	padding: 0px;
	width: 240px;
	max-height: 500px;
	color: $containerfontcolor;
	display: none;
	box-shadow: rgba(0, 0, 0, 0.2392156863) 0px 13px 20px;
	font-size: 12px;
	background-color: $dropdown-background-color;
	flex-direction: column;
	* {
		margin: 0px;
	}
}
.sub-heading {
	margin: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	p {
		margin: 0px;
		color: $notifybtnfontcolor;
	}
}
.nav-card {
	margin: 0px;
	padding: 5px 15px;
}
.sub-section {
	margin-left: 20px;
	display: none;
	div {
		padding: 10px;
		color: $notifybtnfontcolor;
	}
}
.profile {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: $header-background-color;
	display: block;
	border: 2px solid #3fd28b;
	img {
		height: 100%;
	}
}
footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: $footer-background-color;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	text-align: center;
	margin-top: 10px;
}
@media screen and (max-width: 1024px) {
	.courses {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 768px) {
	.courses {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 1048px) {
	header {
		nav {
			display: none;
		}
	}
}
@media screen and (max-width: 1048px) {
	header {
		&:nth-child(7) {
			margin-left: auto;
		}
	}
	.menu {
		display: flex;
	}
}
